ROM      = out/{{name}}.rom
FDD      = out/{{name}}.fdd
SRC      = src/main.asm
CPU      = i8080
TEMPLATE = res/fdd/rds308.fdd

V6ASM ?= v6asm
V6FDD ?= v6fdd

$(FDD): $(ROM)
	$(V6FDD) $(TEMPLATE) $(FDD) $(ROM)
$(ROM): $(SRC)
	$(V6ASM) $(SRC) -o $(ROM) -c $(CPU)
clean:
	rm -f $(ROM) $(FDD)
