ROM      = out/{{name}}.rom
ASM      = out/{{name}}.asm
FDD      = out/{{name}}.fdd
SRC      = src/main.c
CPU      = i8080
TEMPLATE = res/fdd/rds308.fdd

V6ASM ?= v6asm
V6FDD ?= v6fdd

$(FDD): $(ROM)
	$(V6FDD) $(TEMPLATE) $(FDD) $(ROM)
$(ROM): $(ASM)
	$(V6ASM) $(ASM) -o $(ROM) -c $(CPU)
$(ASM): $(SRC)
	v6c $(SRC) -o $(ASM)
clean:
	rm -f $(ASM) $(ROM) $(FDD)
