ROM      = out/{{name}}.rom
ASM      = out/{{name}}.asm
FDD      = out/{{name}}.fdd
SRC      = src/main.c
CPU      = i8080
TEMPLATE = res/fdd/rds308.fdd

$(FDD): $(ROM)
	v6fdd $(TEMPLATE) $(FDD) $(ROM)
$(ROM): $(ASM)
	v6asm $(ASM) -o $(ROM) -c $(CPU)
$(ASM): $(SRC)
	v6c $(SRC) -o $(ASM)
clean:
	rm -f $(ASM) $(ROM) $(FDD)
