ROM    := out/{{name}}.rom
ELF    := out/{{name}}.elf
SRC    := src/main.c
TARGET := i8080-unknown-v6c

V6C ?= v6c

$(ROM): $(SRC)
	$(V6C) -target $(TARGET) -O0 -g $(SRC) -o $(ROM)
clean:
	rm -f $(ROM) $(ELF)
